.wsd{
    font-family:'楷体' ;
    font-size:20px;
}
div.expertiesico{
    padding: 10px 50px 10px 0;
}
a.github{
    transition: opacity 0.6s ease;
    text-decoration: none;
}
a.github img{
    width:45px;
    height:45px;
    display: inline-block;
    border:0;
}
a.github:hover{
    opacity: 0.4;
}